*{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    max-width: 100%;
    height:100vh;
}
section{
    width: 100%;
    max-width: 100%;
    height: 100vh;
    background-color: #111;
}
.row{
    transform: translateY(-100px);
}
